<body class="dashboardbody">
  <header id="showcase">
    <h1>Dog Marketplace</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim magni tenetur ad similique quibusdam rem!</p>
    <a><%= link_to 'Sign Up', new_user_registration_path, class: 'dashbutton1' %></a>
  </header>
</body>