<body class="dashboardbody">
  <header id="showcase">
  <div class='dashtitle'>
    <h1>CORGI</h1>
    </div>
    <div class='dashtext'>
    <p>FINDING A HOME FOR YOUR FURRY FRIENDS</p>
    </div>

    <% if user_signed_in? %>
     <%= link_to 'View Listings', listings_path, class: "dashbutton1"  %>
    <% else %>
    <a><%= link_to 'Sign Up', new_user_registration_path, class: 'dashbutton1' %></a>
    <% end %>
  </header>
</body>