  <h5 class="card-header info-color white-text text-center py-4">
        <strong>Add your furry friends details below</strong>
    </h5>

<%= render 'form', listing: @listing %>

<%= link_to 'Back', listings_path %>