// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.listing-show{
  display: flex;
  margin-top: 48px;
  min-height: 500px;
  background-color: rgb(231, 229, 229);
  
  .actions{
    width: 150px;
    border: 1px solid #dbdbdb;  
  }
  .details{
    flex: 1;
    border: 1px solid #dbdbdb;
    border-left:none;

    .card-title{
      font-family: 'PT Sans', sans-serif;
      font-size: 20px;
    }
    .card-text{
      font-family: 'PT Sans', sans-serif;
      font-size: 16px;
    }

    .card{
      width: 400px;
      display: inline-grid;
    }
  }
}

.actions{
  width: 220px;
  border: 1px solid #dbdbdb;
.nav-link{
    font-size: 14px;
    background-color: white;
    color: black;
    border-radius: 0;
    padding: 12px 0 12px 30px;
    &:hover{
      cursor: pointer;
    }
  }
  .nav-pills .nav-link.active{
    border-left: 2px solid;
    font-weight: 600;
  }
}

.container{
  background-color: rgb(255, 255, 255);

  
  
}
.image{
  text-align: center;
  margin-top: 20px;
  margin-left: -50px;
}

.back-button{
    width: 25%;
    padding: 0.5rem 1rem;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: rgb(231, 230, 229); 
    cursor: pointer;
    outline: none;
    border: none;
    transition: all .3s ease-out;
    color: #443535; 
    font-family: 'PT Sans', sans-serif;
  }
  .back-button:hover{
    background-color: rgb(65, 65, 65);
  }
